<div class="jumbotron text-center">
    <h2>About Us</h2>
</div>
<div class="jumbotron text-center">
    <h3>The Electrician, LLC</h3>
    <p>Owner Chris Morgan started in 1998 working summers in high school as an electrician.  He 
    earned his Journeyman Electrician license in 2005, and began managing electrical projects of various sizes.  Chris
    has worked on residential track homes, semi-custom homes, and large scale one million dollar plus custom homes 
    throughout his career.</p>
    <p>Chris also has great experience in commercial projects as well.  Managing commercial and industrial projects from as 
    small as a $100 service call up to $1,000,000 core and shell buildings.  Through the years he has learned all aspects
    of new construction, remodel, and service work.  These things all add up to your project being completed on time,
    and within budget.  It is our mission to satisify our customers 100%</p>
    <p>The Electrician, LLC is committed to running lean, and keeping up with growing industry standards. This means
    code compliant installs, and state of the art automation for your home.  Running lean means we eliminate unnecessary
    overhead, which translates to savings for you the customer.</p>
    <h4>The Electrician, LLC is the new standard of Electrical Contractor</h4>
    <p>Call us at 970-232-8979 to schedule a free estimate</p>
</div>