<div class="jumbotron text-center">
    <h2>Our Service Area</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="jumbotron text-center">
            <p>We serve the entire Front Range from the Wyoming Border to I-70.</p>
            <h3>Cities we serve</h3>
            <ul>
                <li>Fort Collins</li>
                <li>Loveland</li>
                <li>Greeley</li>
                <li>Boulder</li>
                <li>Windsor</li>
                <li>Timnath</li>
                <li>Eaton</li>
                <li>Ault</li>
                <li>Westminister</li>
                <li>Brighton</li>
                <li>Thornton</li>
                <li>Estes Park</li>
                <li>Nunn</li>
                <li>Denver</li>
                <li>Johnstown</li>
                <li>Milliken</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
            <%= image_tag("map.jpg", :size => '400x400') %>
    </div>
</div>