<div class="jumbotron text-center">
    <h2>Contact Us</h2>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            By Phone: 970-232-8979
        </div>
        <div class="col-md-4">
            By Email: thelectrician@outlook.com
        </div>
        <div class="col-md-4">
            Mail:     The Electrician, LLC<br>
                      945 Campfire Drive<br>
                      Fort Collins, CO 80524
        </div>
    </div>
</div>