<div class="jumbotron text-center">
    <h2>Welcome to The Electrician, LLC</h2>
    <h3>We are a Fort Collins based electrical service, serving all of the Front Range.</h3>
    <p>The Electrician, LLC is owned and operated by master electrician Chris Morgan. With over 15 years
    experience in the trade, we are ready to take on any job you have planned!</p>
    <h4>Call us today at 970-232-8979 for a free quote.</h4>
</div>
<div class=" jumbotron text-center">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>Master Electrician License #ME600516</li>
                <li>Electrical Contractor License #EC0100652</li>
                <li>Board Certified, and Insured</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>We offer written, upfront pricing so there is no guessing</li>
                <li>A licensed electrician will be sent to your home</li>
                <li>We don't leave until you're happy</li>
                <li>We will provide proof of insurance upon request!</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>On time service, we are there when we say we will be</li>
                <li>We work at your schedule. We realize most people work during the day, and thats why we're willing
                to come after you're off</li>
            </ul>
        </div>
    </div>
</div>    