<div class="jumbotron text-center">
    <h2>Services we offer:</h2>


<div class="container">
    <div class="row">
        <div class="col-lg-6" font-color="white">
            <h3>Residential Services</h3>
                <ul>
                    <li>Custom / spec home wiring</li>
                    <li>Kitchen & bathroom remodels</li>
                    <li>Re-wiring of old homes</li>
                    <li>Basement finish wiring</li>
                    <li>Outlet installations</li>
                    <li>Spa / hot tub</li>
                    <li>Appliance wiring</li>
                    <li>Phone jacks</li>
                    <li>Troubleshooting</li>
                    <li>Breaker panel upgrades & repairs</li>
                    <li>Lighting installation & repairs</li>
                    <li>220 Range & dryer outlets</li>
                    <li>Ceiling & attic fans</li>
                    <li>Computer / phone / cable tv</li>
                    <li>Service upgrades</li>
                    <li>And much, much more!!!</li>
                </ul>
            </div>
            <div class="col-md-6">
            <h3>Commercial Services</h3>
                <ul>
                    <li>New construction</li>
                    <li>Tenant finish</li>
                    <li>Service upgrades</li>
                    <li>Code corrections</li>
                    <li>Machine hookups</li>
                    <li>Computer circuits</li>
                    <li>Information technology wiring</li>
                    <li>Troubleshooting & repair</li>
                    <li>Breaker panel upgrades & repairs</li>
                    <li>Lighting installation & repairs</li>
                    <li>Outdoor security lighting</li>
                    <li>Parking lot lighting</li>
                    <li>Service upgrades</li>
                    <li>Proudly serving property management companies</li>
                </ul>
            </div>
    </div>
</div>
</div>