<div class="jumbotron">
    <h2>Services we offer:</h2>


<div class="container">
    <div class="row">
        <div class="col-lg-6" font-color="white">
            <h3>Residential Services</h3>
                <ul>
                    <li>Custom / Spec home wiring</li>
                    <li>Kitchen & Bathroom remodels</li>
                    <li>Re-Wiring of old homes</li>
                    <li>Basement finish wiring</li>
                    <li>Outlet installations</li>
                    <li>Spa / Hot tub</li>
                    <li>Appliance Wiring</li>
                    <li>Phone Jacks</li>
                    <li>Troubleshooting</li>
                    <li>Breaker Panel upgrades & repairs</li>
                    <li>Lighting installation & Repairs</li>
                    <li>220 Range & Dryer outlets</li>
                    <li>Ceiling & Attic fans</li>
                    <li>Computer / Phone / Cable TV</li>
                    <li>Service Upgrades</li>
                    <li>And much, much more!!!</li>
                </ul>
            </div>
            <div class="col-md-6">
            <h3>Commercial Services</h3>
                <ul>
                    <li>New Construction</li>
                    <li>Tenant Finish</li>
                    <li>Service Upgrades</li>
                    <li>Code corrections</li>
                    <li>Machine Hookups</li>
                    <li>Computer Circuits</li>
                    <li>Information Technology Wiring</li>
                    <li>Troubleshooting & repair</li>
                    <li>Breaker Panel upgrades & repairs</li>
                    <li>Lighting installation & Repairs</li>
                    <li>Outdoor security lighting</li>
                    <li>Parking lot lighting</li>
                    <li>Service Upgrades</li>
                    <li>Proudly Serving property management companies</li>
                </ul>
            </div>
    </div>
</div>
</div>